<nav>
    <div class="nav-wrapper">
        <div class="container center">
            <a href="#/page-1">Sample Backbone/Marionette App</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </div>
</nav>

<ul id="nav-mobile" class="side-nav"></ul>
