<!--
    The "activeContent" expression corresponds to the activeContent attribute
    on the model. Normally the expression has two curly braces on either side
    and is automatically escaped. Handlebars expressions with three curly
    braces prevent the value from being escaped, which is what is used here
    since the content will contain html.
-->
<div class="container">
    {{{ activeContent }}}
</div>
