<!--
    The words surrounded by double curly braces are
    called Handlebars expressions. They will evaluate
    to the value of the code between the braces.
-->
<a id="{{ href }}" href="#/{{ href }}">
    {{ text }}
</a>
